/* .wrapper{
    
    padding-top: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    
} */
/* .grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  }
.grid > article img {
    max-width: 100%;
  } */

.item{
    position: centre;
    padding: 20px;
}
div{
    padding: 0px;
    margin: 0;
}